:root {
  --error: rgba(239, 68, 68, 1);
  --primaryblack: rgba(0, 0, 0, 1);
  --primaryneutral: rgba(64, 64, 64, 1);
  --primarywhite: rgba(255, 255, 255, 1);
  --zinc-100: rgba(244, 244, 245, 1);
  --zinc-200: rgba(228, 228, 231, 1);
  --zinc-300: rgba(212, 212, 216, 1);
  --zinc-500: rgba(113, 113, 122, 1);
  --displaytext-regular-font-family: "Sora", Helvetica;
  --displaytext-regular-font-weight: 400;
  --displaytext-regular-font-size: 48px;
  --displaytext-regular-letter-spacing: -0.96px;
  --displaytext-regular-line-height: 56px;
  --displaytext-regular-font-style: normal;
  --displaytext-semibold-font-family: "Sora", Helvetica;
  --displaytext-semibold-font-weight: 600;
  --displaytext-semibold-font-size: 48px;
  --displaytext-semibold-letter-spacing: -0.96px;
  --displaytext-semibold-line-height: 56px;
  --displaytext-semibold-font-style: normal;
  --displaytext-bold-font-family: "Sora", Helvetica;
  --displaytext-bold-font-weight: 700;
  --displaytext-bold-font-size: 48px;
  --displaytext-bold-letter-spacing: -0.96px;
  --displaytext-bold-line-height: 56px;
  --displaytext-bold-font-style: normal;
  --displaytext-extra-bold-font-family: "Sora", Helvetica;
  --displaytext-extra-bold-font-weight: 800;
  --displaytext-extra-bold-font-size: 48px;
  --displaytext-extra-bold-letter-spacing: -0.96px;
  --displaytext-extra-bold-line-height: 56px;
  --displaytext-extra-bold-font-style: normal;
  --outlined-regular-font-family: "Sora", Helvetica;
  --outlined-regular-font-weight: 400;
  --outlined-regular-font-size: 48px;
  --outlined-regular-letter-spacing: -0.96px;
  --outlined-regular-line-height: 56px;
  --outlined-regular-font-style: normal;
  --outlined-semibold-font-family: "Sora", Helvetica;
  --outlined-semibold-font-weight: 600;
  --outlined-semibold-font-size: 48px;
  --outlined-semibold-letter-spacing: -0.96px;
  --outlined-semibold-line-height: 56px;
  --outlined-semibold-font-style: normal;
  --outlined-bold-font-family: "Sora", Helvetica;
  --outlined-bold-font-weight: 700;
  --outlined-bold-font-size: 48px;
  --outlined-bold-letter-spacing: -0.96px;
  --outlined-bold-line-height: 56px;
  --outlined-bold-font-style: normal;
  --outlined-extra-bold-font-family: "Sora", Helvetica;
  --outlined-extra-bold-font-weight: 800;
  --outlined-extra-bold-font-size: 48px;
  --outlined-extra-bold-letter-spacing: -0.96px;
  --outlined-extra-bold-line-height: 56px;
  --outlined-extra-bold-font-style: normal;
  --display-text-m-regular-font-family: "Sora", Helvetica;
  --display-text-m-regular-font-weight: 400;
  --display-text-m-regular-font-size: 28px;
  --display-text-m-regular-letter-spacing: -0.56px;
  --display-text-m-regular-line-height: 32px;
  --display-text-m-regular-font-style: normal;
  --display-text-m-semibold-font-family: "Sora", Helvetica;
  --display-text-m-semibold-font-weight: 600;
  --display-text-m-semibold-font-size: 28px;
  --display-text-m-semibold-letter-spacing: -0.56px;
  --display-text-m-semibold-line-height: 32px;
  --display-text-m-semibold-font-style: normal;
  --display-text-m-bold-font-family: "Sora", Helvetica;
  --display-text-m-bold-font-weight: 700;
  --display-text-m-bold-font-size: 28px;
  --display-text-m-bold-letter-spacing: -0.56px;
  --display-text-m-bold-line-height: 32px;
  --display-text-m-bold-font-style: normal;
  --display-text-m-extra-bold-font-family: "Sora", Helvetica;
  --display-text-m-extra-bold-font-weight: 800;
  --display-text-m-extra-bold-font-size: 28px;
  --display-text-m-extra-bold-letter-spacing: -0.56px;
  --display-text-m-extra-bold-line-height: 32px;
  --display-text-m-extra-bold-font-style: normal;
  --outlined-m-regular-font-family: "Sora", Helvetica;
  --outlined-m-regular-font-weight: 400;
  --outlined-m-regular-font-size: 28px;
  --outlined-m-regular-letter-spacing: -0.56px;
  --outlined-m-regular-line-height: 32px;
  --outlined-m-regular-font-style: normal;
  --outlined-m-semibold-font-family: "Sora", Helvetica;
  --outlined-m-semibold-font-weight: 600;
  --outlined-m-semibold-font-size: 28px;
  --outlined-m-semibold-letter-spacing: -0.56px;
  --outlined-m-semibold-line-height: 32px;
  --outlined-m-semibold-font-style: normal;
  --outlined-m-bold-font-family: "Sora", Helvetica;
  --outlined-m-bold-font-weight: 700;
  --outlined-m-bold-font-size: 28px;
  --outlined-m-bold-letter-spacing: -0.56px;
  --outlined-m-bold-line-height: 32px;
  --outlined-m-bold-font-style: normal;
  --outlined-m-extra-bold-font-family: "Sora", Helvetica;
  --outlined-m-extra-bold-font-weight: 800;
  --outlined-m-extra-bold-font-size: 28px;
  --outlined-m-extra-bold-letter-spacing: -0.56px;
  --outlined-m-extra-bold-line-height: 32px;
  --outlined-m-extra-bold-font-style: normal;
  --sub-heading-regular-font-family: "Sora", Helvetica;
  --sub-heading-regular-font-weight: 400;
  --sub-heading-regular-font-size: 40px;
  --sub-heading-regular-letter-spacing: -0.8px;
  --sub-heading-regular-line-height: 48px;
  --sub-heading-regular-font-style: normal;
  --sub-heading-semibold-font-family: "Sora", Helvetica;
  --sub-heading-semibold-font-weight: 600;
  --sub-heading-semibold-font-size: 40px;
  --sub-heading-semibold-letter-spacing: -0.8px;
  --sub-heading-semibold-line-height: 48px;
  --sub-heading-semibold-font-style: normal;
  --sub-heading-bold-font-family: "Sora", Helvetica;
  --sub-heading-bold-font-weight: 700;
  --sub-heading-bold-font-size: 40px;
  --sub-heading-bold-letter-spacing: -0.8px;
  --sub-heading-bold-line-height: 48px;
  --sub-heading-bold-font-style: normal;
  --sub-heading-extra-bold-font-family: "Sora", Helvetica;
  --sub-heading-extra-bold-font-weight: 800;
  --sub-heading-extra-bold-font-size: 40px;
  --sub-heading-extra-bold-letter-spacing: -0.8px;
  --sub-heading-extra-bold-line-height: 48px;
  --sub-heading-extra-bold-font-style: normal;
  --heading-h1-regular-font-family: "Sora", Helvetica;
  --heading-h1-regular-font-weight: 400;
  --heading-h1-regular-font-size: 36px;
  --heading-h1-regular-letter-spacing: -0.72px;
  --heading-h1-regular-line-height: 44px;
  --heading-h1-regular-font-style: normal;
  --heading-h1-semibold-font-family: "Sora", Helvetica;
  --heading-h1-semibold-font-weight: 600;
  --heading-h1-semibold-font-size: 36px;
  --heading-h1-semibold-letter-spacing: -0.72px;
  --heading-h1-semibold-line-height: 44px;
  --heading-h1-semibold-font-style: normal;
  --heading-h1-bold-font-family: "Sora", Helvetica;
  --heading-h1-bold-font-weight: 700;
  --heading-h1-bold-font-size: 36px;
  --heading-h1-bold-letter-spacing: -0.72px;
  --heading-h1-bold-line-height: 44px;
  --heading-h1-bold-font-style: normal;
  --heading-h1-extra-bold-font-family: "Sora", Helvetica;
  --heading-h1-extra-bold-font-weight: 800;
  --heading-h1-extra-bold-font-size: 36px;
  --heading-h1-extra-bold-letter-spacing: -0.72px;
  --heading-h1-extra-bold-line-height: 44px;
  --heading-h1-extra-bold-font-style: normal;
  --heading-h2-regular-font-family: "Sora", Helvetica;
  --heading-h2-regular-font-weight: 400;
  --heading-h2-regular-font-size: 32px;
  --heading-h2-regular-letter-spacing: -0.64px;
  --heading-h2-regular-line-height: 40px;
  --heading-h2-regular-font-style: normal;
  --heading-h2-semibold-font-family: "Sora", Helvetica;
  --heading-h2-semibold-font-weight: 600;
  --heading-h2-semibold-font-size: 32px;
  --heading-h2-semibold-letter-spacing: -0.64px;
  --heading-h2-semibold-line-height: 40px;
  --heading-h2-semibold-font-style: normal;
  --heading-h2-bold-font-family: "Sora", Helvetica;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-font-size: 32px;
  --heading-h2-bold-letter-spacing: -0.64px;
  --heading-h2-bold-line-height: 40px;
  --heading-h2-bold-font-style: normal;
  --heading-h2-extra-bold-font-family: "Sora", Helvetica;
  --heading-h2-extra-bold-font-weight: 800;
  --heading-h2-extra-bold-font-size: 32px;
  --heading-h2-extra-bold-letter-spacing: -0.64px;
  --heading-h2-extra-bold-line-height: 40px;
  --heading-h2-extra-bold-font-style: normal;
  --heading-h3-regular-font-family: "Sora", Helvetica;
  --heading-h3-regular-font-weight: 400;
  --heading-h3-regular-font-size: 28px;
  --heading-h3-regular-letter-spacing: -0.56px;
  --heading-h3-regular-line-height: 32px;
  --heading-h3-regular-font-style: normal;
  --heading-h3-semibold-font-family: "Sora", Helvetica;
  --heading-h3-semibold-font-weight: 600;
  --heading-h3-semibold-font-size: 28px;
  --heading-h3-semibold-letter-spacing: -0.56px;
  --heading-h3-semibold-line-height: 32px;
  --heading-h3-semibold-font-style: normal;
  --heading-h3-bold-font-family: "Sora", Helvetica;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 28px;
  --heading-h3-bold-letter-spacing: -0.56px;
  --heading-h3-bold-line-height: 32px;
  --heading-h3-bold-font-style: normal;
  --heading-h3-extra-bold-font-family: "Sora", Helvetica;
  --heading-h3-extra-bold-font-weight: 800;
  --heading-h3-extra-bold-font-size: 28px;
  --heading-h3-extra-bold-letter-spacing: -0.56px;
  --heading-h3-extra-bold-line-height: 32px;
  --heading-h3-extra-bold-font-style: normal;
  --heading-h4-regular-font-family: "Sora", Helvetica;
  --heading-h4-regular-font-weight: 400;
  --heading-h4-regular-font-size: 24px;
  --heading-h4-regular-letter-spacing: -0.48px;
  --heading-h4-regular-line-height: 28px;
  --heading-h4-regular-font-style: normal;
  --heading-h4-semibold-font-family: "Sora", Helvetica;
  --heading-h4-semibold-font-weight: 600;
  --heading-h4-semibold-font-size: 24px;
  --heading-h4-semibold-letter-spacing: -0.48px;
  --heading-h4-semibold-line-height: 28px;
  --heading-h4-semibold-font-style: normal;
  --heading-h4-bold-font-family: "Sora", Helvetica;
  --heading-h4-bold-font-weight: 700;
  --heading-h4-bold-font-size: 24px;
  --heading-h4-bold-letter-spacing: -0.48px;
  --heading-h4-bold-line-height: 28px;
  --heading-h4-bold-font-style: normal;
  --heading-h4-extra-bold-font-family: "Sora", Helvetica;
  --heading-h4-extra-bold-font-weight: 800;
  --heading-h4-extra-bold-font-size: 24px;
  --heading-h4-extra-bold-letter-spacing: -0.48px;
  --heading-h4-extra-bold-line-height: 28px;
  --heading-h4-extra-bold-font-style: normal;
  --heading-h5-regular-font-family: "Sora", Helvetica;
  --heading-h5-regular-font-weight: 400;
  --heading-h5-regular-font-size: 20px;
  --heading-h5-regular-letter-spacing: -0.4px;
  --heading-h5-regular-line-height: 24px;
  --heading-h5-regular-font-style: normal;
  --heading-h5-semibold-font-family: "Sora", Helvetica;
  --heading-h5-semibold-font-weight: 600;
  --heading-h5-semibold-font-size: 20px;
  --heading-h5-semibold-letter-spacing: -0.4px;
  --heading-h5-semibold-line-height: 24px;
  --heading-h5-semibold-font-style: normal;
  --heading-h5-bold-font-family: "Sora", Helvetica;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 20px;
  --heading-h5-bold-letter-spacing: -0.4px;
  --heading-h5-bold-line-height: 24px;
  --heading-h5-bold-font-style: normal;
  --heading-h5-extra-bold-font-family: "Sora", Helvetica;
  --heading-h5-extra-bold-font-weight: 800;
  --heading-h5-extra-bold-font-size: 20px;
  --heading-h5-extra-bold-letter-spacing: -0.4px;
  --heading-h5-extra-bold-line-height: 24px;
  --heading-h5-extra-bold-font-style: normal;
  --heading-h6-regular-font-family: "Sora", Helvetica;
  --heading-h6-regular-font-weight: 400;
  --heading-h6-regular-font-size: 16px;
  --heading-h6-regular-letter-spacing: -0.32px;
  --heading-h6-regular-line-height: 20px;
  --heading-h6-regular-font-style: normal;
  --heading-h6-semibold-font-family: "Sora", Helvetica;
  --heading-h6-semibold-font-weight: 600;
  --heading-h6-semibold-font-size: 16px;
  --heading-h6-semibold-letter-spacing: -0.32px;
  --heading-h6-semibold-line-height: 20px;
  --heading-h6-semibold-font-style: normal;
  --heading-h6-bold-font-family: "Sora", Helvetica;
  --heading-h6-bold-font-weight: 700;
  --heading-h6-bold-font-size: 16px;
  --heading-h6-bold-letter-spacing: -0.32px;
  --heading-h6-bold-line-height: 20px;
  --heading-h6-bold-font-style: normal;
  --heading-h6-extra-bold-font-family: "Sora", Helvetica;
  --heading-h6-extra-bold-font-weight: 800;
  --heading-h6-extra-bold-font-size: 16px;
  --heading-h6-extra-bold-letter-spacing: -0.32px;
  --heading-h6-extra-bold-line-height: 20px;
  --heading-h6-extra-bold-font-style: normal;
  --paragraph-p1-regular-font-family: "Sora", Helvetica;
  --paragraph-p1-regular-font-weight: 400;
  --paragraph-p1-regular-font-size: 20px;
  --paragraph-p1-regular-letter-spacing: 0.4px;
  --paragraph-p1-regular-line-height: 28px;
  --paragraph-p1-regular-font-style: normal;
  --paragraph-p1-semibold-font-family: "Sora", Helvetica;
  --paragraph-p1-semibold-font-weight: 600;
  --paragraph-p1-semibold-font-size: 20px;
  --paragraph-p1-semibold-letter-spacing: 0.4px;
  --paragraph-p1-semibold-line-height: 28px;
  --paragraph-p1-semibold-font-style: normal;
  --paragraph-p1-bold-font-family: "Sora", Helvetica;
  --paragraph-p1-bold-font-weight: 700;
  --paragraph-p1-bold-font-size: 20px;
  --paragraph-p1-bold-letter-spacing: 0.4px;
  --paragraph-p1-bold-line-height: 28px;
  --paragraph-p1-bold-font-style: normal;
  --paragraph-p1-extra-bold-font-family: "Sora", Helvetica;
  --paragraph-p1-extra-bold-font-weight: 800;
  --paragraph-p1-extra-bold-font-size: 20px;
  --paragraph-p1-extra-bold-letter-spacing: 0.4px;
  --paragraph-p1-extra-bold-line-height: 28px;
  --paragraph-p1-extra-bold-font-style: normal;
  --paragraph-p2-regular-font-family: "Sora", Helvetica;
  --paragraph-p2-regular-font-weight: 400;
  --paragraph-p2-regular-font-size: 16px;
  --paragraph-p2-regular-letter-spacing: 0.32px;
  --paragraph-p2-regular-line-height: 24px;
  --paragraph-p2-regular-font-style: normal;
  --paragraph-p2-semibold-font-family: "Sora", Helvetica;
  --paragraph-p2-semibold-font-weight: 600;
  --paragraph-p2-semibold-font-size: 16px;
  --paragraph-p2-semibold-letter-spacing: 0.32px;
  --paragraph-p2-semibold-line-height: 24px;
  --paragraph-p2-semibold-font-style: normal;
  --paragraph-p2-bold-font-family: "Sora", Helvetica;
  --paragraph-p2-bold-font-weight: 700;
  --paragraph-p2-bold-font-size: 16px;
  --paragraph-p2-bold-letter-spacing: 0.32px;
  --paragraph-p2-bold-line-height: 24px;
  --paragraph-p2-bold-font-style: normal;
  --paragraph-p2-extrabold-font-family: "Sora", Helvetica;
  --paragraph-p2-extrabold-font-weight: 800;
  --paragraph-p2-extrabold-font-size: 16px;
  --paragraph-p2-extrabold-letter-spacing: 0.32px;
  --paragraph-p2-extrabold-line-height: 24px;
  --paragraph-p2-extrabold-font-style: normal;
  --paragraph-p3-regular-font-family: "Sora", Helvetica;
  --paragraph-p3-regular-font-weight: 400;
  --paragraph-p3-regular-font-size: 12px;
  --paragraph-p3-regular-letter-spacing: 0.24px;
  --paragraph-p3-regular-line-height: 20px;
  --paragraph-p3-regular-font-style: normal;
  --paragraph-p3-semibold-font-family: "Sora", Helvetica;
  --paragraph-p3-semibold-font-weight: 600;
  --paragraph-p3-semibold-font-size: 12px;
  --paragraph-p3-semibold-letter-spacing: 0.24px;
  --paragraph-p3-semibold-line-height: 20px;
  --paragraph-p3-semibold-font-style: normal;
  --paragraph-p3-bold-font-family: "Sora", Helvetica;
  --paragraph-p3-bold-font-weight: 700;
  --paragraph-p3-bold-font-size: 12px;
  --paragraph-p3-bold-letter-spacing: 0.24px;
  --paragraph-p3-bold-line-height: 20px;
  --paragraph-p3-bold-font-style: normal;
  --paragraph-p3-extra-bold-font-family: "Sora", Helvetica;
  --paragraph-p3-extra-bold-font-weight: 800;
  --paragraph-p3-extra-bold-font-size: 12px;
  --paragraph-p3-extra-bold-letter-spacing: 0.24px;
  --paragraph-p3-extra-bold-line-height: 20px;
  --paragraph-p3-extra-bold-font-style: normal;
  --button-text-regular-font-family: "Sora", Helvetica;
  --button-text-regular-font-weight: 400;
  --button-text-regular-font-size: 20px;
  --button-text-regular-letter-spacing: 0.4px;
  --button-text-regular-line-height: 24px;
  --button-text-regular-font-style: normal;
  --button-text-semibold-font-family: "Sora", Helvetica;
  --button-text-semibold-font-weight: 600;
  --button-text-semibold-font-size: 20px;
  --button-text-semibold-letter-spacing: 0.4px;
  --button-text-semibold-line-height: 24px;
  --button-text-semibold-font-style: normal;
  --button-text-bold-font-family: "Sora", Helvetica;
  --button-text-bold-font-weight: 700;
  --button-text-bold-font-size: 20px;
  --button-text-bold-letter-spacing: 0.4px;
  --button-text-bold-line-height: 24px;
  --button-text-bold-font-style: normal;
  --button-text-extra-bold-font-family: "Sora", Helvetica;
  --button-text-extra-bold-font-weight: 800;
  --button-text-extra-bold-font-size: 20px;
  --button-text-extra-bold-letter-spacing: 0.4px;
  --button-text-extra-bold-line-height: 24px;
  --button-text-extra-bold-font-style: normal;
  --button-text-2-regular-font-family: "Sora", Helvetica;
  --button-text-2-regular-font-weight: 400;
  --button-text-2-regular-font-size: 16px;
  --button-text-2-regular-letter-spacing: 0.32px;
  --button-text-2-regular-line-height: 20px;
  --button-text-2-regular-font-style: normal;
  --button-text-2-semibold-font-family: "Sora", Helvetica;
  --button-text-2-semibold-font-weight: 600;
  --button-text-2-semibold-font-size: 16px;
  --button-text-2-semibold-letter-spacing: 0.32px;
  --button-text-2-semibold-line-height: 20px;
  --button-text-2-semibold-font-style: normal;
  --button-text-2-bold-font-family: "Sora", Helvetica;
  --button-text-2-bold-font-weight: 700;
  --button-text-2-bold-font-size: 16px;
  --button-text-2-bold-letter-spacing: 0.32px;
  --button-text-2-bold-line-height: 20px;
  --button-text-2-bold-font-style: normal;
  --button-text-2-extra-bold-font-family: "Sora", Helvetica;
  --button-text-2-extra-bold-font-weight: 800;
  --button-text-2-extra-bold-font-size: 16px;
  --button-text-2-extra-bold-letter-spacing: 0.32px;
  --button-text-2-extra-bold-line-height: 20px;
  --button-text-2-extra-bold-font-style: normal;
  --underlined-regular-font-family: "Sora", Helvetica;
  --underlined-regular-font-weight: 400;
  --underlined-regular-font-size: 20px;
  --underlined-regular-letter-spacing: -0.4px;
  --underlined-regular-line-height: 24px;
  --underlined-regular-font-style: normal;
  --underlined-semibold-font-family: "Sora", Helvetica;
  --underlined-semibold-font-weight: 600;
  --underlined-semibold-font-size: 20px;
  --underlined-semibold-letter-spacing: -0.4px;
  --underlined-semibold-line-height: 24px;
  --underlined-semibold-font-style: normal;
  --underlined-bold-font-family: "Sora", Helvetica;
  --underlined-bold-font-weight: 700;
  --underlined-bold-font-size: 20px;
  --underlined-bold-letter-spacing: -0.4px;
  --underlined-bold-line-height: 24px;
  --underlined-bold-font-style: normal;
  --underlined-extrabold-font-family: "Sora", Helvetica;
  --underlined-extrabold-font-weight: 800;
  --underlined-extrabold-font-size: 20px;
  --underlined-extrabold-letter-spacing: -0.4px;
  --underlined-extrabold-line-height: 24px;
  --underlined-extrabold-font-style: normal;
  --variable-collection-zinc-800: rgba(39, 39, 42, 1);
}
